extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-normal.text-center Home
            span.font-extrabold Seekers
        h2.text-center.text-2xl.font-extrabold= pagina

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        div.mt-8.mx-auto.max-w-md
            div
                p.mb-4.text-center.text-gray-600.text-sm Ingresa tu correo electrónico y te enviaremos un enlace para que puedas recuperar tu contraseña 

            .bg-white.py-8.px-4.shadow
        
                form.space-y-5(method="POST" action="/auth/forgottenPassword" noValidate)
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="email") Correo electrónico
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu E-mail" type="email" name="email")
                    
                    .flex.items.center.justify-between.py-2 
                        a(href="/auth/register").text-gray-500.text-xs ¿No tienes cuenta? Crea una
                        a(href="/auth/login").text-gray-500.text-xs ¿Ya tienes cuenta? Inicia Sesión

                    input(type="submit" value="Recuperar contraseña" class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold rounded-lg py-2 transition-all cursor-pointer")