header.bg-indigo-600.p-4
            .container.mx-auto(class="md:flex md:justify-between items-center")
                h1.text-2xl.text-white.font-normal.text-center Home
                    span.font-extrabold Seekers
                p(class="uppercase text-white font-bold") Bienvenido #{nombre}!
                nav(class="flex my-5 text-sm flex-col md:flex-row items-center justify-center gap-5 font-bold text-white md:gap-3")
                    a(href="/my-properties") Mis propiedades
                    a(href="" class="bg-indigo-800 py-2 px-10 rounded-lg hover:bg-indigo-900 transition-all md:ml-10 justify-center items-center") Cerrar Sesión